body {
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    user-select: none;
}

.purple-gameroom-bg {
    background-image: url('/purple-gameroom-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.blue-gameroom-bg {
    background-image: url('/blue-gameroom-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.green-gameroom-bg {
  background-image: url('/green-gameroom-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.pink-gameroom-bg {
  background-image: url('/pink-gameroom-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.card {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.9);
}

.comp-card {
    height:5rem;
}

.user-card {
    height: 9rem;
}

.flop-card {
    height: 7rem;
}

.card-front {
    border-radius: 10px;
    border: 5px solid white;
}

/* @font-face {
  font-family: 'MyFont';
  src: url('font5.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

@keyframes shimmer {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.chipinn-text {
  background-image: linear-gradient(
    90deg,
    #a2d2ff,
    #b388eb,
    #ffc2e2,
    #a2d2ff,
    #b388eb, 
    #ffc2e2,
    #b388eb
  );
  background-size: 200% 100%;
  background-clip: text;
  color: transparent;
  animation: shimmer 5s linear infinite;
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.2);
    transform-origin: center center;
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transform-origin: center center;
  }
}

@keyframes zoomOut {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.2);
  }
}

.win-in {
  animation: zoomIn 2s ease-out forwards;
}

.win-out {
  animation: zoomOut 2s ease-in forwards;
}